extends ./layout.jade
block content
    .container(style='padding-top: 75px;')      
        ul#messages
        a(href="https://slack.com/oauth/authorize?scope=read,client,identify,post,commands,bot&client_id=2605154976.20361890802")
            img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();
         socket.on('SlackMessage', function(msg){
            $('#messages').append($('<li>').text(msg));
         });
    script(src='/js/build/bundle.js')    
     